#About {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(250,128,114,1) 110%);
    overflow: hidden;
}

.description {
    color: white;
    font-size: medium;
}

.AboutText h1{
    margin-top: 3%;
    position: relative;
    color: white;
}

@media only screen and (max-width: 600px) {
    .AboutText h1{
        margin-top: 20%;
    }
}