.base {
    background: url("../../Images/IMG_1506.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    text-align: center;
    color: white;
    font-size: xx-large;
}