#Experience {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5%;
    overflow: hidden;
    background: linear-gradient(180deg, #f1f1f1 0%, #9fb1f9 100%);
    padding-bottom: 10%;
}

.accordion {
    margin: auto;
    width: 40%;
}

.descrip {
    width: 60%;
    margin: auto;
}

.toggleBar {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: row wrap;
}

.slideshow {
    margin: auto;
    width: 40%;
}


.experienceMain {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .experienceMain {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .accordion {
        width: 80%;
    }

    .slideshow {
        width: 80%;
    }
}