.slides {
    position: relative;
}


.test {
    position: relative;
    width: 100%;
}

.testDiv {
    position: absolute;
    transform: translate(0, -100%);
}
.test2 {
    position: relative;
    width: 50%;
    
}